<mat-card class="result" *ngIf="(bug$ | async) as bug; else loading">
  <mat-card-header>
    <mat-card-title style="word-break: break-word;">
      {{bug.id}}&nbsp;{{bug.summary}}
    </mat-card-title>
    <mat-card-subtitle><span
        [ngStyle]="{'color': severities[bug.severity]?.color}">{{bug.severity}}</span>&nbsp;{{bug.priority}}
    </mat-card-subtitle>
    <mat-card-subtitle>{{bug.buguetteStatus}}</mat-card-subtitle>
    <!-- <mat-card-subtitle>{{bug.product}},&nbsp;</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content class="addition-data">
    <mat-divider></mat-divider>
    <div class="addition-params-space">
      <div class="addition-params">
        <div class="addition-params-icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
        </div>
        <div class="addition-params-data">
          <div class="params-data" matTooltip={{bug.product}} matTooltipPosition="above"><span
              [ngStyle]="{'background-color': products[bug.product].color}">{{products[bug.product].name}}</span></div>
          <div class="params-data">{{bug.component}}</div>
          <div class="params-data">{{bug.version}}</div>
        </div>
      </div>
      <div class="addition-params">
        <div class="addition-params-icon">
          <mat-icon matTooltip="QA contact {{bug.qa_contact}}" aria-hidden="false" aria-label="Example home icon">
            people_alt</mat-icon>
        </div>
        <div class="addition-params-data">
          <div class="params-data">
            Creator: {{(bug$ | async).creator_detail.real_name || "loading..."}}
          </div>
          <div class="params-data">
            Assigned to:
            {{(bug$ | async).assigned_to_detail?(bug$ | async).assigned_to_detail?.real_name:(bug$ | async).assigned_to}}
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="addition-params addition-params-bugzilla-link" matRipple matTooltip="[NEW TAB] {{bugzillaLink}}">
        <a [href]="bugzillaLink" target="_blank" style="height: 100%;">
          <div class="bugzilla-image">
          </div>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="comment main-comment">
      <div class="attachment" *ngIf="bug.comments[0]?.attachment_id as id">
        <mat-progress-bar mode="query" *ngIf="attachmentLoading[id]"></mat-progress-bar>
        <div [ngClass]="{'attachment_space_for_loading': !attachmentLoading[id]}">
          <button mat-icon-button matTooltip="Download {{bug.comments[0].attachment_name}}"
            (click)="download_attachment(id)">
            <mat-icon>attachment</mat-icon>
          </button>
          {{bug.comments[0].attachment_name}}
        </div>
      </div>
      <span class="comment-text">
        {{bug.comments[0]?.text}}
      </span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let comment of (bug$ | async)?.comments | slice:1" class="result comment mat-elevation-z2">
  <div class="left-block-comment">
    <div class="creator-image" *ngIf="(users$ | async)[comment.creator_username] as user">
      <img class="avatar-image" matTooltip={{user.real_name}} [src]="user.avatar || '/assets/avatars/default.jpg'">
    </div>
  </div>
  <div class="right-block-comment">
    <div class="comment-date">
      {{comment.creation_time | date : 'd MMMM y, HH:mm'}}
    </div>
    <div class="attachment" *ngIf="comment.attachment_id">
      <mat-progress-bar mode="query" *ngIf="attachmentLoading[comment.attachment_id]"></mat-progress-bar>
      <div [ngClass]="{'attachment_space_for_loading': !attachmentLoading[comment.attachment_id]}">
        <button mat-icon-button matTooltip="Download {{comment.attachment_name}}"
          [disabled]="this.attachmentLoading[comment.attachment_id]"
          (click)="download_attachment(comment.attachment_id)">
          <mat-icon>attachment</mat-icon>
        </button>
        <div class="attachment-name">{{comment.attachment_name}}</div>
      </div>
    </div>
    <div class="comment-text" *ngIf="comment.text">
      {{comment.text}}
    </div>
  </div>
</mat-card>


<ng-template #loading>
  <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
