<mat-card class="result" *ngIf="(bug$ | async) as bug; else loading">
  <mat-card-header class="bug-detail-header">
    <mat-card-title style="word-break: break-word;">
      {{bug.id}}&nbsp;{{bug.summary}}
    </mat-card-title>
    <mat-card-subtitle>
      <span [ngStyle]="{'color': severities[bug.severity]?.color}">
        {{bug.severity}}
      </span>
      &nbsp;{{bug.priority}}
    </mat-card-subtitle>
    <mat-card-subtitle>{{bug.buguetteStatus}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="addition-data">
    <mat-divider></mat-divider>
    <div class="addition-params-space">
      <div class="addition-params">
        <div class="addition-params-icon" matTooltip={{bug.product}}>
          <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
        </div>
        <div class="addition-params-data">
          <div class="params-data"><span
              [ngStyle]="{'background-color': products[bug.product].color}">{{products[bug.product].name}}</span></div>
          <div class="params-data">{{bug.component}}</div>
          <div class="params-data">{{bug.version}}</div>
        </div>
      </div>
      <div class="addition-params">
        <div class="addition-params-icon" matTooltip="QA contact {{bug.qaContact}}">
          <mat-icon aria-hidden="false">
            people_alt</mat-icon>
        </div>
        <div class="addition-params-data">
          <div class="params-data">
            Creator: {{bug.creatorDetail.realName || "loading..."}}
          </div>
          <div class="params-data">
            Assigned to:
            {{bug.assignedToDetail?bug.assignedToDetail?.realName:bug.assignedTo}}
          </div>
        </div>
      </div>
      <div class="addition-params">
        <div class="addition-params-icon"
         matTooltip="Created: {{bug.creationTime.getTime() | date : 'd MMMM y, HH:mm'}}&#13;Updated: {{bug.lastChangeTime.getTime() | date : 'd MMMM y, HH:mm'}}">
          <mat-icon aria-hidden="false" aria-label="Example home icon"  matTooltipClass="multiline-tooltip">
            date_range
          </mat-icon>
        </div>
        <div class="addition-params-data">
          <div class="params-data">
            {{bug.creationTime.getTime() | date : 'd MMMM y'}}
          </div>
          <div class="params-data" *ngIf="bug.lastChangeTime.getTime() !== bug.creationTime.getTime()">
            {{bug.lastChangeTime.getTime() | date : 'd MMMM y'}}
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="addition-params addition-params-bugzilla-link" matRipple matTooltip="[NEW TAB] {{bugzillaLink}}">
        <a [href]="bugzillaLink" target="_blank" style="height: 100%;">
          <div class="bugzilla-image">
          </div>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="comment main-comment">
      <span class="comment-text" *ngIf="image_autoload && bug.comments[0]?.attachmentIsImage">
        {{bug.comments[0]?.text}}
      </span>
      <app-detail-attachment
      [id]="bug.comments[0]?.attachmentId"
      [imageAutoload]="image_autoload"
      [bugData]="bug.comments[0]"></app-detail-attachment>
      <span class="comment-text" *ngIf="!image_autoload || !bug.comments[0]?.attachmentIsImage">
        {{bug.comments[0]?.text}}
      </span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let comment of (bug$ | async)?.comments | slice:1" class="result comment mat-elevation-z2">
  <div class="left-block-comment">
    <ng-container *ngIf="(users$ | async) as users">
    <div class="creator-image" *ngIf="users[comment.creatorUsername] as user">
      <img class="avatar-image" matTooltip={{user.realName}} [src]="user.avatar || '/assets/avatars/default.jpg'">
    </div>
    <span *ngIf="!users[comment.creatorUsername]" matTooltip="User not found">{{comment.creatorUsername}}</span>
    </ng-container>
  </div>
  <div class="right-block-comment">
    <div class="comment-date">
      {{comment.creationTime.getTime() | date : 'd MMMM y, HH:mm'}}
    </div>
    <app-detail-attachment
    [id]="comment.attachmentId"
    [imageAutoload]="image_autoload"
    [bugData]="comment"></app-detail-attachment>
    <div class="comment-text" *ngIf="comment.text">
      <app-detail-comment-text [text]="comment.text"></app-detail-comment-text>
    </div>
  </div>
</mat-card>


<ng-template #loading>
  <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
