:host {
  display: flex;
  flex: 2;
  max-width: 70em;
  overflow: auto;
}

.result {
  display: inline-table;
  width: 100%;
  margin: 0.5em;
}

.addition-params {
  display: flex;
  margin: 1em;
}

.addition-data {
  display: inline-block;
}

.comment-text {
  white-space: pre-wrap;
  word-break: break-all;
}
.comment {
  padding-top: 1em;
}
.addition-params-icon {
  margin: auto;
  padding-right: 1em;
}
.addition-params-data {
  flex: 1;
  margin: auto;
}
.addition-params-space {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
