mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
.mat-toolbar-multiple-rows {
  min-height: 0;
}
.toolbar {
  height: 2em;
}
.account-message {
  display: flex;
  margin: auto;
}

.loading-resources-block {
  display: flex;
  flex-direction: column;
}
.text {
  display: grid;
  padding-right: 0.5em;
}
