.loading-attachment {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.attachment_space_for_loading {
  padding-top: 4px;
}
.attachment {
  display: flex;
  flex-direction: column;
  margin: 0 -16px 0 -16px;
}
.attachment-image {
  margin: auto;
  width: 100%;
}
