<ng-container [ngSwitch]="commentTextObjects.commentType">
  <div *ngSwitchCase="'push'">
    <div  style="display: flex;" >
      <div class="github-image"></div>
      <div class="github-text">
        {{this.commentTextObjects.objects[0].author}}
        pushed to
        {{this.commentTextObjects.objects[0].branch}}
      </div>
    </div>
    <div class="github-message">
      <a [href]="this.commentTextObjects.objects[0].link" target="_blank">{{this.commentTextObjects.objects[0].message}}</a>
    </div>
  </div>
  <div *ngSwitchCase="'duplicate-message'">
    <a routerLink="/bug/{{this.commentTextObjects.id}}" queryParamsHandling="merge" routerLinkActive="active">{{this.commentTextObjects.objects[0]}}</a>
  </div>
  <span *ngSwitchDefault>
    {{this.commentTextObjects.objects[0]}}
  </span>
</ng-container>
