:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.toolbar-fill-space {
  flex: 1 1 auto;
}

.loading-resources-block {
  font-size: 2em;
  padding: 3em;
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: column;
  line-height: initial;
}
