:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.account-message {
  display: flex;
  margin: auto;
}
.loading-resources-block {
  display: flex;
  flex-direction: column;
}
.text {
  display: grid;
  padding-right: 0.5em;
}
