<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Buguette</span>
    <span class="toolbar-fill-space"></span>

    <mat-menu #appMenu="matMenu">
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
    <div>
      {{(bugzilla.currentUser$ |async)?.email}}
      <button *ngIf="auth.is_authorized()" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
