<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <span>Buguette</span>
    <button *ngIf="(bugzilla.currentUser$ |async)" mat-icon-button class="example-icon" [matMenuTriggerFor]="bookmarks">
      <mat-icon>bookmarks</mat-icon>
    </button>
    <span class="toolbar-fill-space"></span>
    <span *ngIf="(bugzilla.currentUser$ |async) as user; else loading">
      {{user?.email}}
    </span>
    <ng-template #loading>
      loading...
    </ng-template>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="main-page">
  <app-search-page></app-search-page>
</div>

<mat-menu #appMenu="matMenu">
  <button (click)="settingsOpen()" mat-menu-item>Settings</button>
  <button (click)="aboutOpen()" mat-menu-item>About</button>
  <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>

<mat-menu #bookmarks="matMenu">
  <button *ngFor="let savedSearch of (bugzilla.currentUser$ |async)?.savedSearches$ | async"
   (click)="apply_search(savedSearch)" mat-menu-item>
   <mat-icon aria-hidden="false" *ngIf="savedSearch.fromBugzilla">security</mat-icon>
   {{savedSearch.name}}
  </button>
</mat-menu>

