<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <span>Buguette</span>
    <span class="toolbar-fill-space"></span>
    <span *ngIf="(bugzilla.currentUser$ |async) as user; else loading">
      {{user?.email}}
    </span>
    <ng-template #loading>
      loading...
    </ng-template>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="main-page">
  <!-- <router-outlet></router-outlet> -->
  <app-search-page></app-search-page>
</div>

<mat-menu #appMenu="matMenu">
  <button (click)="logout()" mat-menu-item>Logout</button>
  <button (click)="settingsOpen()" mat-menu-item>Settings</button>
</mat-menu>
