/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}
.mat-tooltip {
  font-size: 1em !important;
  white-space: pre;
}
