:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.product-select-block {
  display: inline-block;
}

.filter-block-divider {
  margin: 0 0.5em 0 0.5em;
}
.filter-block {
  flex-direction: column;
}

.statuses-block {
  display: flex;
}

.actions-for-search {
  display: flex;
  padding-left: 3em;
}

.actions-for-filter {
  display: flex;
}

.filter-item {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin: 0.2em;
}

.search-space {
  margin: 0.5em 0.5em 0 0.5em;
  display: flex;
  flex-direction: row;
}

.search-field-block {
  padding-top: 0.2em;
  display: flex;
}
.search-field {
  flex: 1;
}

.search-form {
  display: flex;
  flex: 1;
}
.result-space {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.result-list, .result {
  display: flex;
}

.result-list {
  flex-direction: column;
  overflow: auto;
  flex: 3;
}

.result {
  background-color: grey;
  flex: 2
}
.result-list-view {
  flex: 1;
}

.result-item {
  margin: 0.5em;
  cursor: pointer;
  padding: 0.3em 0.5em 0.3em 0.5em;
  display: flex;
}
.bug-summary {
  margin: auto;
  padding-left: 0.2em;
  flex: 1;
  overflow: hidden;
  padding-top: 2px;
}
.bug-status, .bug-priority {
  margin: auto;
  padding-top: 2px;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.priority_and_version_block {
  margin-left: 0.2em;
}

.bug-status {
  width: 5em;
  text-align: center;
}

.bug-severity {
  margin-right: 3px;
}

.bug-information {
  margin: auto;
  padding-top: 2px;
}
.avatar-image {
  margin: auto;
  background-size: cover;
}

.arrow-forward {
  margin: auto;
  padding-top: 5px;
}

.creator-assigned-form {
  min-width: 18em;
  width: 100%;
}

.creator-field, .assigned-field {
  width: 100%;
  margin: 0 0.5em 0 0.5em;
}
.creator-image {
  vertical-align: middle;
  margin-right: 8px;
}
.creator-image-selected, .assigned-image-selected {
  background-size: cover;
  width: 3em;
  height: 3em;
  flex-shrink: 0;
  object-fit: cover;
}
.creator-block, .assigned-block {
  display: flex;
}
.creator-image-empty, .assigned-image-empty {
  width: 3em;
  margin: auto;
  flex-shrink: 0;
  object-fit: cover;
}
.icon-empty {
  margin: auto;
  display: flex;
}

img.avatar-image {
  height: inherit;
  width: inherit;
}

.search-button {
  margin-left: 0.5em;
}
.count_chart {
  height: 0.5em;
  border: solid 1px #8b8b8b;
  background-color: #00ff95;
}

.count-message {
  display: flex;
  width: 100%;
}
.priority-field {
  max-width: 6em;
}
.versions-field {
  max-width: 6em;
}
.severity-block {
  margin: auto;
  display: inline-block;
}
.importence-block {
  display: flex;
    margin-right: 5px;
    width: auto;
}
.sorting-block {
  display: flex;
  justify-content: flex-end;
  height: 1em;
}
.bug-list-link-wrapper {
  text-decoration: none;
}
.bugs-toolbar {
  float: right;
}
