<div class="search-space">
  <div class="actions-for-filter">
    <div class="filter-block">
      <div class="product-select-block">
        <mat-card class="filter-item" (click)="product.active = !product.active" *ngFor="let product of productsArray"
          [ngClass]="{'mat-elevation-z21': product.active, 'mat-elevation-z0': !product.active}"
          [ngStyle]="{'background-color': product.active?product.color:'#e2e2e2'}">
          {{product.name}}
        </mat-card>
      </div>
      <div class="search-field-block">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Filter</mat-label>
          <input matInput type="search" [(ngModel)]="value" autocomplete="off">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="filter-block-divider" [vertical]="true"></mat-divider>
    <div class="filter-block">
      <div class="statuses-block">
        <mat-card class="filter-item" (click)="status.active = !status.active" *ngFor="let status of statusesArray"
          [ngClass]="{'mat-elevation-z10 active': status.active, 'mat-elevation-z0': !status.active}"
          [ngStyle]="{'background-color': status.active?'white':'#e2e2e2'}">
          {{status.name}}
        </mat-card>
      </div>
      <div class="importence-block">
        <mat-form-field>
          <mat-label>Severity</mat-label>
          <mat-select [formControl]="severityControl" multiple>
            <mat-select-trigger>
              {{severityControl.value ? severityControl.value[0]?.name : ''}}
              <span *ngIf="severityControl.value?.length > 1">
                (+{{severityControl.value.length - 1}} {{severityControl.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let severity of severitiesArray" [value]="severity">{{severity.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select [formControl]="priorityControl" multiple>
            <mat-select-trigger>
              {{priorityControl.value ? priorityControl.value[0]?.name : ''}}
              <span *ngIf="priorityControl.value?.length > 1">
                (+{{priorityControl.value.length - 1}} {{priorityControl.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let priority of prioritiesArray" [value]="priority">{{priority.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="filter-block-divider" [vertical]="true"></mat-divider>
    <div class="filter-block">
      <div class="creator-block">
        <div class="creator-image-selected" *ngIf="createrControl.value">
          <img class="avatar-image"
            [src]="createrControl.value.avatar || '/assets/avatars/default.jpg'">
        </div>
        <div class="creator-image-empty" *ngIf="!createrControl.value">
          <mat-icon class="icon-empty" aria-hidden="false">create</mat-icon>
        </div>
        <form class="creator-form" *ngIf="(filteredCreator | async) as creators">
          <mat-form-field class="creator-field">
            <input matInput placeholder="Creator" aria-label="Creator" [matAutocomplete]="auto"
              [formControl]="createrControl">
              <button mat-button *ngIf="createrControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="createrControl.reset()">
                <mat-icon>close</mat-icon>
              </button>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
              <mat-option *ngFor="let user of creators" [value]="user">
                <img class="creator-image" aria-hidden [src]="user.avatar || '/assets/avatars/default.jpg'" height="25">
                <span>{{user.real_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>

      <div class="assigned-block">
        <div class="assigned-image-selected" *ngIf="assignedToControl.value">
          <img class="avatar-image"
            [src]="assignedToControl.value.avatar || '/assets/avatars/default.jpg'">
        </div>
        <div class="assigned-image-empty" *ngIf="!assignedToControl.value">
          <mat-icon class="icon-empty" aria-hidden="false">assignment_ind</mat-icon>
        </div>
        <form class="assigned-form" *ngIf="(filteredAssignedTo | async) as assigneters">
          <mat-form-field class="assigned-field">
            <input matInput placeholder="Assigned To" aria-label="Assigned To" [matAutocomplete]="auto"
              [formControl]="assignedToControl">
              <button mat-button *ngIf="assignedToControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="assignedToControl.reset()">
                <mat-icon>close</mat-icon>
              </button>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
              <mat-option *ngFor="let user of assigneters" [value]="user">
                <img class="creator-image" aria-hidden [src]="user.avatar || '/assets/avatars/default.jpg'" height="25">
                <span>{{user.real_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="actions-for-search">
    <button (click)="search()" mat-fab color="primary" [disabled]=loading class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="result-space">
  <ng-container *ngIf="!loading">
    <div class="result-list" *ngIf="(bugs$ | async) as bugs">

      <cdk-virtual-scroll-viewport [itemSize]="50" class="result-list-view">
        <mat-card (click)="get_details(bug)" [ngClass]="{'mat-elevation-z10': (bugDetail$ | async)?.id == bug.id}"
          [ngStyle]="{'border-left': '0.3em solid ' + products[bug.product].color}" routerLinkActive="active"
          class="result-item" *cdkVirtualFor="let bug of bugs">
          <mat-icon class="bug-severity" matTooltip={{bug.severity}} aria-hidden="false"
            [ngStyle]="{'color': severities[bug.severity]?.color, 'margin': 'auto'}">
            {{severities[bug.severity]?.isFeature?"insights":"bug_report"}}</mat-icon>
          <div class="bug-summary">
            <span style="font-weight: 500;">{{bug.id}}</span>&nbsp;{{bug.summary}}
          </div>
          <div class="bug-priority">
            <span *ngIf="bug.priority !== 'P1'">&nbsp;{{bug.priority}}</span>
          </div>
          <div mat-card-avatar class="avatar-image" matTooltip={{bug.creator_detail.real_name}}>
            <img class="avatar-image" [src]="(users$ | async)[bug.creator_detail.username.trim()]?.avatar || '/assets/avatars/default.jpg'">
          </div>
          <div class="arrow-forward">
            <mat-icon>arrow_forward</mat-icon>
          </div>
          <div mat-card-avatar class="avatar-image" matTooltip={{bug.assigned_to_detail.real_name}}>
            <img class="avatar-image" [src]="(users$ | async)[bug.assigned_to_detail.username]?.avatar || '/assets/avatars/default.jpg'">
          </div>

          <div class="bug-status" style="margin: auto;">
            <span>&nbsp;{{bug.buguetteStatus}}</span>
          </div>
        </mat-card>
      </cdk-virtual-scroll-viewport>
    </div>
  </ng-container>
  <div *ngIf="loading" style="flex: 3; margin: auto">
    <mat-spinner style="margin: auto"></mat-spinner>
  </div>
  <router-outlet></router-outlet>
</div>
